Repository NPerederiy/e-shop, pull requests merged in 2020-12, with the labels that each got.

#15 F-0029 Updated the list of catalog items
  src/Clients/ReactApp/src/app/App.js
  src/Clients/ReactApp/src/app/components/product-card/product-card.scss
  src/Clients/ReactApp/src/app/pages/authentication/authentication.jsx
  src/Clients/ReactApp/src/app/pages/catalog/catalog.jsx
Labels: React.js, WebSPA

#16 F-0030 Added category and brand selectors. Filtering setup
  src/Clients/ReactApp/src/app/App.js
  src/Clients/ReactApp/src/app/components/header-panel/header-panel.jsx
  src/Clients/ReactApp/src/app/components/product-card/product-card.scss
  src/Clients/ReactApp/src/app/components/select/index.js
  src/Clients/ReactApp/src/app/components/select/select.jsx
  src/Clients/ReactApp/src/app/components/select/select.scss
  src/Clients/ReactApp/src/app/pages/catalog/catalog.jsx
  src/Clients/ReactApp/src/index.js
Labels: React.js, WebSPA

#17 Feature/basket popper
  src/Clients/ReactApp/src/app/app.scss
  src/Clients/ReactApp/src/app/components/basket-item/basket-item.jsx
  src/Clients/ReactApp/src/app/components/basket-item/basket-item.scss
  src/Clients/ReactApp/src/app/components/basket-item/index.js
  src/Clients/ReactApp/src/app/components/basket/basket.jsx
  src/Clients/ReactApp/src/app/components/basket/basket.scss
  src/Clients/ReactApp/src/app/components/basket/index.js
  src/Clients/ReactApp/src/app/components/counter/counter.jsx
  src/Clients/ReactApp/src/app/components/counter/counter.scss
  src/Clients/ReactApp/src/app/components/counter/index.js
  src/Clients/ReactApp/src/app/components/header-panel/header-panel.jsx
  src/Clients/ReactApp/src/app/components/product-card/product-card.scss
  src/Clients/ReactApp/src/app/components/select/select.jsx
  src/Clients/ReactApp/src/styles/sizes.scss
Labels: React.js, WebSPA

#18 F-0034 Added a checkout page
  src/Clients/ReactApp/src/app/App.js
  src/Clients/ReactApp/src/app/components/address-form/address-form.jsx
  src/Clients/ReactApp/src/app/components/address-form/index.js
  src/Clients/ReactApp/src/app/components/checkout-review/checkout-review.jsx
  src/Clients/ReactApp/src/app/components/checkout-review/index.js
  src/Clients/ReactApp/src/app/components/payment-form/index.js
  src/Clients/ReactApp/src/app/components/payment-form/payment-form.jsx
  src/Clients/ReactApp/src/app/pages/checkout/checkout.jsx
  src/Clients/ReactApp/src/app/pages/checkout/checkout.scss
  src/Clients/ReactApp/src/app/pages/checkout/index.js
Labels: React.js, WebSPA

#19 F-0036 Added a management page
  src/Clients/ReactApp/src/app/App.js
  src/Clients/ReactApp/src/app/pages/management/index.js
  src/Clients/ReactApp/src/app/pages/management/management.jsx
  src/Clients/ReactApp/src/app/pages/management/management.scss
Labels: React.js, WebSPA

#21 add routes ,configured route
  src/Clients/ReactApp/package-lock.json
  src/Clients/ReactApp/package.json
  src/Clients/ReactApp/src/app/App.conrainer.jsx
  src/Clients/ReactApp/src/app/App.js
  src/Clients/ReactApp/src/app/components/header-panel/header-panel.jsx
  src/Clients/ReactApp/src/app/pages/catalog/catalog.jsx
  src/Clients/ReactApp/src/index.js
Labels: React.js, WebSPA

#22 Feature/Basket microservice
  src/Services/Basket/Basket.API/Basket.API.csproj
  src/Services/Basket/Basket.API/Basket.API.xml
  src/Services/Basket/Basket.API/Controllers/ApiControllerBase.cs
  src/Services/Basket/Basket.API/Controllers/CheckoutController.cs
  src/Services/Basket/Basket.API/Controllers/ItemController.cs
  src/Services/Basket/Basket.API/Properties/launchSettings.json
  src/Services/Basket/Basket.API/Startup.cs
  src/Services/Basket/Basket.API/appsettings.json
  src/Services/Basket/Basket.Domain/Entities/BasketCheckout.cs
  src/Services/Basket/Basket.Domain/Entities/BasketItem.cs
  src/Services/Basket/Basket.Domain/Entities/CustomerBasket.cs
  src/Services/Basket/Basket.Persistence/Basket.Persistence.csproj
  src/Services/Basket/Basket.Persistence/Configurations/BasketItemConfig.cs
  src/Services/Basket/Basket.Persistence/Configurations/CheckoutConfig.cs
  src/Services/Basket/Basket.Persistence/Contexts/ApplicationDbContext.cs
  src/Services/Basket/Basket.Persistence/DependencyInjection/ServiceCollectionExtensions.cs
  src/Services/Basket/Basket.Persistence/Interfaces/IApplicationDbContext.cs
  src/Services/Basket/Basket.Persistence/Migrations/BasketDb/20201220132645_Initial.Designer.cs
  src/Services/Basket/Basket.Persistence/Migrations/BasketDb/20201220132645_Initial.cs
  src/Services/Basket/Basket.Persistence/Migrations/BasketDb/20201220134031_Denormalization.Designer.cs
  src/Services/Basket/Basket.Persistence/Migrations/BasketDb/20201220134031_Denormalization.cs
  src/Services/Basket/Basket.Persistence/Migrations/BasketDb/ApplicationDbContextModelSnapshot.cs
  src/eShop.sln
Labels: Basket

#23 add redux, configured logIn
  src/Clients/ReactApp/package-lock.json
  src/Clients/ReactApp/package.json
  src/Clients/ReactApp/src/app/App.conrainer.jsx
  src/Clients/ReactApp/src/app/App.js
  src/Clients/ReactApp/src/app/components/header-panel/header-panel.container.jsx
  src/Clients/ReactApp/src/app/components/header-panel/header-panel.jsx
  src/Clients/ReactApp/src/app/components/header-panel/index.js
  src/Clients/ReactApp/src/app/components/select/select.jsx
  src/Clients/ReactApp/src/app/components/sign-in-form/sign-in-form.jsx
  src/Clients/ReactApp/src/app/pages/authentication/authentication.jsx
  src/Clients/ReactApp/src/app/pages/catalog/catalog.cantainer.jsx
  src/Clients/ReactApp/src/app/pages/catalog/catalog.jsx
  src/Clients/ReactApp/src/app/pages/catalog/index.js
  src/Clients/ReactApp/src/index.js
  src/Clients/ReactApp/src/redux/actions/auth.action.js
  src/Clients/ReactApp/src/redux/index.js
  src/Clients/ReactApp/src/redux/reducers/auth.reducer.js
  src/Clients/ReactApp/src/redux/store.js
  src/Clients/ReactApp/src/redux/types/auth.types.js
Labels: React.js, WebSPA

#24 Updated basket service and web SPA
  src/Clients/ReactApp/package-lock.json
  src/Clients/ReactApp/package.json
  src/Clients/ReactApp/src/app/App.conrainer.jsx
  src/Clients/ReactApp/src/app/App.js
  src/Clients/ReactApp/src/app/components/header-panel/header-panel.container.jsx
  src/Clients/ReactApp/src/app/components/header-panel/header-panel.jsx
  src/Clients/ReactApp/src/app/components/header-panel/index.js
  src/Clients/ReactApp/src/app/components/select/select.jsx
  src/Clients/ReactApp/src/app/components/sign-in-form/sign-in-form.jsx
  src/Clients/ReactApp/src/app/pages/authentication/authentication.jsx
  src/Clients/ReactApp/src/app/pages/catalog/catalog.cantainer.jsx
  src/Clients/ReactApp/src/app/pages/catalog/catalog.jsx
  src/Clients/ReactApp/src/app/pages/catalog/index.js
  src/Clients/ReactApp/src/index.js
  src/Clients/ReactApp/src/redux/actions/auth.action.js
  src/Clients/ReactApp/src/redux/index.js
  src/Clients/ReactApp/src/redux/reducers/auth.reducer.js
  src/Clients/ReactApp/src/redux/store.js
  src/Clients/ReactApp/src/redux/types/auth.types.js
  src/Services/Basket/Basket.API/Basket.API.csproj
  src/Services/Basket/Basket.API/Basket.API.xml
  src/Services/Basket/Basket.API/Controllers/ApiControllerBase.cs
  src/Services/Basket/Basket.API/Controllers/CheckoutController.cs
  src/Services/Basket/Basket.API/Controllers/ItemController.cs
  src/Services/Basket/Basket.API/Properties/launchSettings.json
  src/Services/Basket/Basket.API/Startup.cs
  src/Services/Basket/Basket.API/appsettings.json
  src/Services/Basket/Basket.Domain/Entities/BasketCheckout.cs
  src/Services/Basket/Basket.Domain/Entities/BasketItem.cs
  src/Services/Basket/Basket.Domain/Entities/CustomerBasket.cs
  src/Services/Basket/Basket.Persistence/Basket.Persistence.csproj
  src/Services/Basket/Basket.Persistence/Configurations/BasketItemConfig.cs
  src/Services/Basket/Basket.Persistence/Configurations/CheckoutConfig.cs
  src/Services/Basket/Basket.Persistence/Contexts/ApplicationDbContext.cs
  src/Services/Basket/Basket.Persistence/DependencyInjection/ServiceCollectionExtensions.cs
  src/Services/Basket/Basket.Persistence/Interfaces/IApplicationDbContext.cs
  src/Services/Basket/Basket.Persistence/Migrations/BasketDb/20201220132645_Initial.Designer.cs
  src/Services/Basket/Basket.Persistence/Migrations/BasketDb/20201220132645_Initial.cs
  src/Services/Basket/Basket.Persistence/Migrations/BasketDb/20201220134031_Denormalization.Designer.cs
  src/Services/Basket/Basket.Persistence/Migrations/BasketDb/20201220134031_Denormalization.cs
  src/Services/Basket/Basket.Persistence/Migrations/BasketDb/ApplicationDbContextModelSnapshot.cs
  src/eShop.sln
Labels: Basket, React.js, WebSPA

#25 configured redux, add moc api to catalogPage
  src/Clients/ReactApp/src/app/components/address-form/address-form.jsx
  src/Clients/ReactApp/src/app/components/basket-item/basket-item.jsx
  src/Clients/ReactApp/src/app/components/basket/basket.jsx
  src/Clients/ReactApp/src/app/components/checkout-review/checkout-review.jsx
  src/Clients/ReactApp/src/app/components/counter/counter.container.jsx
  src/Clients/ReactApp/src/app/components/counter/counter.jsx
  src/Clients/ReactApp/src/app/components/counter/index.js
  src/Clients/ReactApp/src/app/components/header-panel/header-panel.container.jsx
  src/Clients/ReactApp/src/app/components/header-panel/header-panel.jsx
  src/Clients/ReactApp/src/app/components/payment-form/payment-form.jsx
  src/Clients/ReactApp/src/app/pages/catalog/catalog.cantainer.jsx
  src/Clients/ReactApp/src/app/pages/catalog/catalog.jsx
  src/Clients/ReactApp/src/app/pages/checkout/checkout.container.jsx
  src/Clients/ReactApp/src/app/pages/checkout/checkout.jsx
  src/Clients/ReactApp/src/app/pages/checkout/index.js
  src/Clients/ReactApp/src/redux/actions/applicationData.action.js
  src/Clients/ReactApp/src/redux/actions/basket.action.js
  src/Clients/ReactApp/src/redux/actions/checkout.action.js
  src/Clients/ReactApp/src/redux/reducers/applicationData.reducer.js
  src/Clients/ReactApp/src/redux/reducers/auth.reducer.js
  src/Clients/ReactApp/src/redux/reducers/basket.reducer.js
  src/Clients/ReactApp/src/redux/reducers/checkout.reducer.js
  src/Clients/ReactApp/src/redux/store.js
  src/Clients/ReactApp/src/redux/types/applicationData.types.js
  src/Clients/ReactApp/src/redux/types/basket.types.js
  src/Clients/ReactApp/src/redux/types/checkout.types.js
Labels: React.js, WebSPA

#27 add axios , configurin api
  src/Clients/ReactApp/package-lock.json
  src/Clients/ReactApp/package.json
  src/Clients/ReactApp/src/app/components/header-panel/header-panel.container.jsx
  src/Clients/ReactApp/src/app/components/product-card/product-card.jsx
  src/Clients/ReactApp/src/app/pages/catalog/catalog.cantainer.jsx
  src/Clients/ReactApp/src/app/pages/catalog/catalog.jsx
  src/Clients/ReactApp/src/constants/api.constants.js
  src/Clients/ReactApp/src/constants/misc.constants.js
  src/Clients/ReactApp/src/redux/actions/applicationData.action.js
  src/Clients/ReactApp/src/redux/reducers/applicationData.reducer.js
  src/Clients/ReactApp/src/redux/types/applicationData.types.js
Labels: React.js, WebSPA

#29 add sinUp
  src/Clients/ReactApp/src/app/components/sign-in-form/sign-in-form.jsx
  src/Clients/ReactApp/src/app/components/sign-up-form/sign-up-form.jsx
  src/Clients/ReactApp/src/app/pages/authentication/authentication.jsx
  src/Clients/ReactApp/src/redux/actions/auth.action.js
Labels: React.js, WebSPA

#30 F-0044 Implemented the ordering service
  src/Services/Ordering/Ordering.API/Controllers/ApiControllerBase.cs
  src/Services/Ordering/Ordering.API/Controllers/OrderController.cs
  src/Services/Ordering/Ordering.API/Ordering.API.csproj
  src/Services/Ordering/Ordering.API/Ordering.API.xml
  src/Services/Ordering/Ordering.API/Properties/launchSettings.json
  src/Services/Ordering/Ordering.API/Startup.cs
  src/Services/Ordering/Ordering.API/appsettings.json
  src/Services/Ordering/Ordering.Core.Application/DependencyInjection/ServiceCollectionExtensions.cs
  src/Services/Ordering/Ordering.Core.Application/Features/OrderFeatures/Commands/MakeOrderCommand.cs
  src/Services/Ordering/Ordering.Core.Application/Features/OrderFeatures/Commands/RemoveOrderCommand.cs
  src/Services/Ordering/Ordering.Core.Application/Features/OrderFeatures/Commands/UpdateOrderCommand.cs
  src/Services/Ordering/Ordering.Core.Application/Features/OrderFeatures/Queries/GetAllOrdersQuery.cs
  src/Services/Ordering/Ordering.Core.Application/Features/OrderFeatures/Queries/GetOrderByIdQuery.cs
  src/Services/Ordering/Ordering.Core.Application/Interfaces/IApplicationDbContext.cs
  src/Services/Ordering/Ordering.Core.Application/Ordering.Core.Application.csproj
  src/Services/Ordering/Ordering.Core.Domain/Common/EntityBase.cs
  src/Services/Ordering/Ordering.Core.Domain/Entities/Order.cs
  src/Services/Ordering/Ordering.Core.Domain/Entities/OrderedItem.cs
  src/Services/Ordering/Ordering.Core.Domain/Ordering.Core.Domain.csproj
  src/Services/Ordering/Ordering.Infrastructure.Persistence/Configurations/OrderConfig.cs
  src/Services/Ordering/Ordering.Infrastructure.Persistence/Configurations/OrderedItemConfig.cs
  src/Services/Ordering/Ordering.Infrastructure.Persistence/Contexts/ApplicationDbContext.cs
  src/Services/Ordering/Ordering.Infrastructure.Persistence/DependencyInjection/ServiceCollectionExtensions.cs
  src/Services/Ordering/Ordering.Infrastructure.Persistence/Migrations/OrderingDb/20201221234456_Initial.Designer.cs
  src/Services/Ordering/Ordering.Infrastructure.Persistence/Migrations/OrderingDb/20201221234456_Initial.cs
  src/Services/Ordering/Ordering.Infrastructure.Persistence/Migrations/OrderingDb/ApplicationDbContextModelSnapshot.cs
  src/Services/Ordering/Ordering.Infrastructure.Persistence/Ordering.Infrastructure.Persistence.csproj
  src/eShop.sln
Labels: Ordering

#31 F-0045 Updated configs and project dependencies
  src/ApiGateways/Web.Bff.Shopping/Web.Shopping.HttpAggregator/Configurations/UrisConfig.cs
  src/Services/Basket/Basket.API/Properties/launchSettings.json
  src/Services/Catalog/Catalog.API/Properties/launchSettings.json
  src/Services/Catalog/Catalog.API/Startup.cs
  src/Services/Catalog/Catalog.Core.Application/Catalog.Core.Application.csproj
  src/Services/Catalog/Catalog.Infrastructure.Persistence/Catalog.Infrastructure.Persistence.csproj
  src/Services/Catalog/Catalog.UnitTests/Catalog.UnitTests.csproj
  src/Services/Identity/Identity.API/Controllers/ApiControllerBase.cs
  src/Services/Identity/Identity.API/Controllers/AuthController.cs
  src/Services/Identity/Identity.API/Properties/launchSettings.json
  src/Services/Identity/Identity.API/Startup.cs
  src/Services/Ordering/Ordering.API/Startup.cs
Labels: ApiGateways, Basket, Catalog, Identity, Ordering

#33 F-0046 Added API constants. Updated packages.
  src/Clients/ReactApp/package-lock.json
  src/Clients/ReactApp/src/constants/api.constants.js
  src/Clients/ReactApp/src/redux/actions/applicationData.action.js
  src/Clients/ReactApp/src/redux/actions/auth.action.js
Labels: React.js, WebSPA

#35 add order api
  src/Clients/ReactApp/src/app/pages/catalog/catalog.jsx
  src/Clients/ReactApp/src/app/pages/checkout/checkout.container.jsx
  src/Clients/ReactApp/src/app/pages/checkout/checkout.jsx
  src/Clients/ReactApp/src/constants/api.constants.js
  src/Clients/ReactApp/src/redux/actions/checkout.action.js
  src/Clients/ReactApp/src/redux/reducers/checkout.reducer.js
  src/Clients/ReactApp/src/redux/types/checkout.types.js
Labels: React.js, WebSPA
